{{!-- <nav class="nav">
  {{#if superuser}}
  <a class="nav-link active text-danger" aria-current="page" href="/userAccount">{{superuser}}</a>
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/">My favorites</a>
  <a class="nav-link" href="/">My Account</a>
  <a class="nav-link" href="/logout">log out</a>
  <a class="nav-link" href="/about">About Us</a>
  {{/if}}
  {{#unless superuser}}
  <a class="nav-link active text-danger" aria-current="page" href="/">Home</a>
  <a class="nav-link" href="/login">log in</a>
  <a class="nav-link" href="/register">register</a>
  <a class="nav-link" href="/about">About Us</a>
  {{/unless}}
</nav> --}}
