<script defer src="../js/getPhoto.js"></script>
<link rel="stylesheet" href="../styles/registerLogin.css">

<div class="row">
  <div class="col">
    <nav class="nav navLinks">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/myAlbum">My Album</a>
      <a class="nav-link" href="/findAlbum">Find Albums</a>
      <a class="nav-link" href="/about">About Us</a>
      <a class="nav-link" href="/logout">log out</a>
    </nav>
  </div>
</div>
<div class="row my-5">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <h1>Astronomy Picture of the Day</h1>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row my-5">
  <div class="col-md-3"></div>
  <div class="col-md-6 boxDiv">
    <form id="getPhoto">
      <div class="mb-3">
        <label for="getDate" class="form-label">Example: 2022-03-25</label>
        <input type="text" class="form-control" name="getDate" id="getDate" aria-describedby="dateHelp" placeholder="YYYY-MM-DD">
        <div id="dateHelp" class="form-text">The pictures are available from the current date through June 16, 1995</div>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-outline-warning" type="submit">Get Photo</button>
      </div>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
