<script defer src="../js/registration.js"></script>
<link rel="stylesheet" href="../styles/registerLogin.css">

<div class="row">
  <div class="col">
    <nav class="nav navLinks">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/about">About Us</a>
      <a class="nav-link" href="/login">log in</a>
    </nav>
  </div>
</div>
<div class="row my-3">
  <div class="col-md-12 text-center">
    <h1>Registration</h1>
  </div>
</div>
<div class="row my-3">
  <div class="col-md-4"></div>
  <div class="col-md-4 my-5 boxDiv">
    <form id="regForm">
      <div class="form-group my-2">
        <label for="name">Name</label>
        <input type="text" name="user_name" class="form-control" placeholder="Enter name" id="name" required>
      </div>
      <div class="form-group my-2">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" placeholder="Enter email" id="email" required>
      </div>
      <div class="form-group my-2">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Enter password" id="password" required>
      </div>
      <div class="d-grid gap-2 my-4">
        <button type="submit" class="btn btn-primary">Registration</button>
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
